 <header class="flex items-center justify-between p-4 border-b-2 border-orange-500">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Senac" class="h-20">
    <nav class="flex space-x-8 font-semibold text-blue-800">
      <a href="{{ url_for('index') }}" class="hover:underline">Home</a>
      <a href="{{ url_for('cursos') }}" class="hover:underline">Cursos</a>
      <a href="#" class="hover:underline">Sobre</a>
    </nav>
  <a href="{{ url_for('login') }}" class="border border-blue-800 px-3 py-1 rounded-full text-blue-800 hover:bg-blue-800 hover:text-white transition">
    Login
  </a>
</header>